---
import ExperienceItems from "./ExperienceItems.astro";

const EXPERIENCE = [
    {
        title: "Noteworthy technology acquisitions 2021",
        description: "Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.",
        link: "#",
        imgUrl: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRczi-fI3I9TCSfGqhuJVK15EIYd3rA-N04dw&s",
    },
    {
        title: "Noteworthy technology acquisitions 2021",
        description: "Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.",
        link: "#",
        imgUrl: "/src/assets/ciroFlorentinLogo.jpeg",
    },
    {
        title: "Noteworthy technology acquisitions 2021",
        description: "Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.",
        link: "#",
        imgUrl: "/src/assets/ciroFlorentinLogo.jpeg",
    },
];
---

<ol class="flex flex-col gap-5 max-w-fit">
    {
        EXPERIENCE.map((experience) => (
            <li class="bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-green-800/60 dark:border-green-950 flex flex-row">
                <ExperienceItems {...experience} />
            </li>
        ))
    }
</ol>
