---
import GitHubIcon from "@/icons/GitHub.astro";
import InstagramIcon from "@/icons/Instagram.astro";
import XIcon from "@/icons/X.astro";
import GmailIcon from "@/icons/Gmail.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
---

<footer
    class="md:rounded-2xl bg-green-200/80 dark:bg-black/20 backdrop-blur-lg px-6 py-7 md:py-6 w-full xl:w-[1120px] mx-auto md:mb-5 mt-10"
>
    <div class="flex flex-col md:flex-row w-full flex-wrap items-center justify-center md:justify-between gap-y-3">
        <div class="select-none flex items-center gap-2 text-xl font-bold text-base-content text-green-800/60 dark:text-green-400/60">
            <span>CiroFlorentin</span>
        </div>
        <aside class="select-none grid-flow-col items-center text-slate-950/80 dark:text-white/60 text-sm">
            <p>
                © 2025 <a
                    class="select-none link link-hover font-medium"
                    href="https://github.com/CiroFlorentin/Portafolio"
                    target="_blank"
                    rel="noopener noreferrer">casi todo los derechos reservados</a
                >
            </p>
        </aside>
        <div class="flex h-5 gap-4 text-slate-950/80 dark:text-white/60">
            <a href="#" class="link hover:text-green-800" aria-label="Github Link">
                <GitHubIcon class="size-4" />
            </a>
            <a href="#" class="link hover:text-green-800" aria-label="Intagram Link">
                <InstagramIcon class="size-4" />
            </a>
            <a href="#" class="link hover:text-green-800" aria-label="X Link">
                <XIcon class="size-4" />
            </a>
            <a href="#" class="link hover:text-green-800" aria-label="Gmail link">
                <GmailIcon class="size-5" />
            </a>
            <a href="#" class="link hover:text-green-800" aria-label="LinkedIn link">
                <LinkedIn class="size-5" />
            </a>
        </div>
    </div>
</footer>
