<a
    class=`{
    rounded-full border dark:border-slate-500/30 border-gray-400/40
    dark:bg-slate-700/20  bg-slate-200/40
    flex justify-center items-center gap-x-2 
    py-1 px-2 md:px-4 md:py-2 
    text-xs md:text-base
    bg-white/3 
    shadow-md dark:shadow-black/40 shadow-green-300/70
    transition-all duration-200
    hover:scale-110 dark:hover:bg-green-300/10 hover:shadow-lg hover:shadow-black/30  dark:hover:border-green-900/60
    hover:bg-[#22C55E]
    }`
    href={Astro.props.href}
    target="_blank"
    rel="noopener noreferrer"
>
    <slot />
</a>
